@using cisApp.Function
@model UserModel
@{
    ViewData["Title"] = "รายละเอียดคำขอสมัครนักออกแบบ";
    ViewData["ControllerName"] = "UserRequestHistory";
}

<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold my-1 mr-5">Cludidea</h5>
                    <!--end::Page Title-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Dashbaord</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="@ViewBag.goBack" class="text-muted">@ViewBag.TitleList</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="javascript:void(0)" class="text-muted">@ViewData["Title"]</a>
                        </li>
                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->
            <!--begin::Toolbar-->
            <div class="d-flex align-items-center">
                <!--begin::Actions-->
                <a href="#" class="btn btn-light-primary font-weight-bolder btn-sm">Actions</a>
                <!--end::Actions-->
                <!--begin::Dropdown-->
                <div class="dropdown dropdown-inline" data-toggle="tooltip" title="Quick actions" data-placement="left">
                    <a href="#" class="btn btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="svg-icon svg-icon-success svg-icon-2x">
                            <!--begin::Svg Icon | path:assets/media/svg/icons/Files/File-plus.svg-->
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon points="0 0 24 0 24 24 0 24" />
                                    <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                    <path d="M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z" fill="#000000" />
                                </g>
                            </svg>
                            <!--end::Svg Icon-->
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-md dropdown-menu-right p-0 m-0">
                        <!--begin::Navigation-->
                        <ul class="navi navi-hover">
                            <li class="navi-header font-weight-bold py-4">
                                <span class="font-size-lg">Choose Label:</span>
                                <i class="flaticon2-information icon-md text-muted" data-toggle="tooltip" data-placement="right" title="Click to learn more..."></i>
                            </li>
                            <li class="navi-separator mb-3 opacity-70"></li>
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-text">
                                        <span class="label label-xl label-inline label-light-success">Customer</span>
                                    </span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-text">
                                        <span class="label label-xl label-inline label-light-danger">Partner</span>
                                    </span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-text">
                                        <span class="label label-xl label-inline label-light-warning">Suplier</span>
                                    </span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-text">
                                        <span class="label label-xl label-inline label-light-primary">Member</span>
                                    </span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-text">
                                        <span class="label label-xl label-inline label-light-dark">Staff</span>
                                    </span>
                                </a>
                            </li>
                            <li class="navi-separator mt-3 opacity-70"></li>
                            <li class="navi-footer py-4">
                                <a class="btn btn-clean font-weight-bold btn-sm" href="#">
                                    <i class="ki ki-plus icon-sm"></i>Add new
                                </a>
                            </li>
                        </ul>
                        <!--end::Navigation-->
                    </div>
                </div>
                <!--end::Dropdown-->
            </div>
            <!--end::Toolbar-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Card-->
            <div class="card card-custom card-sticky" id="kt_page_sticky_card">
                <div class="card-header">
                    <div class="card-title">
                        <h3 class="card-label">
                            @ViewData["Title"]
                            <i class="mr-2"></i>
                        </h3>
                    </div>
                    <div class="card-toolbar">
                        <a href="@ViewBag.goBack" class="btn btn-light-primary font-weight-bolder mr-2">
                            <i class="ki ki-long-arrow-back icon-sm"></i>ย้อนกลับ
                        </a>
                        <div class="btn-group">
                            @*<button type="button" class="btn btn-primary font-weight-bolder" onclick="submit();">
            <i class="ki ki-check icon-sm"></i>บันทึก
        </button>
        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                <ul class="nav nav-hover flex-column">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon flaticon2-reload"></i>
                            <span class="nav-text">Save &amp; continue</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon flaticon2-add-1"></i>
                            <span class="nav-text">Save &amp; add new</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon flaticon2-power"></i>
                            <span class="nav-text">Save &amp; exit</span>
                        </a>
                    </li>
                </ul>
            </div>*@
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <!--begin::Form-->
                    <form class="form" id="kt_form">
                        <div class="row">
                            <div class="col-xl-2"></div>
                            <div class="col-xl-8"> 
                                @Html.HiddenFor(m => m.Code)
                                <div class="req-approve">
                                    @await Html.PartialAsync("~/Views/Shared/User/_UserCustomer.cshtml", Model)
                                     
                                    <div class="separator separator-dashed my-10"></div>
                                    <div class="my-5">
                                        <div class="form-group row">
                                            <label class="col-form-label col-lg-3 col-sm-12 text-lg-right">รูปภาพประจำตัว</label>
                                            <div class="col-lg-4 col-md-9 col-sm-12">
                                                @if (Model.AttachFileImage != null)
                                                {
                                                    @await Html.PartialAsync("~/Views/Shared/Common/_ImageItem.cshtml", new FileAttachModel() { FileName = Model.AttachFileImage.FileName, AttachFileId = Model.AttachFileImage.AttachFileId, IsView = true })
                                                }
                                                else
                                                {
                                                    <div class="col-12 text-center pl-15 mt-n10">
                                                        <h2 class=" text-muted my-19"><i class="fas fa-exclamation-triangle fa-1x"></i> ไม่พบข้อมูล</h2>
                                                    </div>
                                                }

                                            </div>
                                        </div> 
                                    </div>


                                    @if (Model.UserType == 2 || (!String.IsNullOrEmpty(Model.Code) && !String.IsNullOrEmpty(Model.StatusDesc)))
                                    {
                                        @await Html.PartialAsync("~/Views/Shared/User/_UserDesigner.cshtml", Model)
                                    }
                                </div>

                                <div class="separator separator-dashed my-10"></div>
                                <div class="my-5">
                                    <div class="form-group row">
                                        <label class="col-form-label col-lg-3 col-sm-12 text-lg-right">เอกสารประกอบคำขอ</label> 
                                    </div>
                                    <div class="form-group row">
                                        @{
                                            if (Model.files != null && Model.files.Count > 0)
                                            {
                                                foreach (var item in Model.files)
                                                {
                                                    item.IsView = true;
                                                    @await Html.PartialAsync("~/Views/Shared/Common/_ImageItem.cshtml", item)
                                                }
                                            }
                                            else
                                            {
                                                <div class="col-12 text-center pl-15 mt-n10">
                                                    <h2 class=" text-muted my-19"><i class="fas fa-exclamation-triangle fa-1x"></i> ไม่พบข้อมูล</h2>
                                                </div>
                                            }
                                        }

                                    </div>
                                </div>

                                <div class="separator separator-dashed my-10"></div> 
                                @{
                                    var checkedOne = Model.Status == 1 || Model.Status == null ? "checked":"";
                                    var checkedTwo = Model.Status == 2 ? "checked":"";
                                    var checkedThree = Model.Status == 3 ? "checked":"";

                                }
                                <div class="my-5">
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label text-lg-right">สภานะ :</label>
                                        <div class="col-lg-7 col-form-label">
                                            <div class="radio-inline">
                                                <label class="radio radio-warning">
                                                    <input type="radio" id="Status1" name="Status" value="1" @checkedOne />
                                                    <span></span>
                                                    รอดำเนินการ
                                                </label>
                                                <label class="radio radio-success">
                                                    <input type="radio" id="Status2" name="Status" value="2" @checkedTwo />
                                                    <span></span>
                                                    อนุมัติ
                                                </label>
                                                <label class="radio radio-danger  ">
                                                    <input type="radio" id="Status3" name="Status" value="3" @checkedThree />
                                                    <span></span>
                                                    ไม่อนุมัติ
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label text-lg-right">หมายเหตุ:</label>
                                        <div class="col-lg-7">
                                            @Html.TextAreaFor(m => m.Remark, 5, 500, new { @class = "form-control form-control-solid", @autocomplete = "off" })
                                            @Html.ValidationMessageFor(m => m.Remark, "", new { @class = "text-danger" })
                                            <span class="form-text text-muted">ใส่รายละเอียดเพื่อแจ้งกลับคำขอ</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-2"></div>

                            </div>
                        </div>
                    </form>
                    <!--end::Form-->
                </div>
            </div>
            <!--end::Card-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
<!--end::Content-->
@section scripts{
    <!--begin::Page Scripts(used by this page)-->


    <script> 
        $(function () {
            $('input').attr('readonly', true);
            $('textarea').attr('readonly', true);
            $('select').on('select2:opening', function (e) {
                e.preventDefault();
            });
            $('input[type=radio]').on('click', function (e) {
                e.preventDefault();
            });
        });
    </script>

}