@using cisApp.Function;
@model SearchModel

@{
    ViewData["Title"] = "ประวัติเข้าใช้งานระบบ";
}


@section scripts {

    <!--begin::Page Scripts(used by this page)-->
    <link rel="stylesheet" href="@Url.Content("~/assets/plugins/custom/datatables/datatables.bundle.css")" />
    <link rel="stylesheet" href="@Url.Content("~/lib/bootstrap-datepicker/css/bootstrap-datepicker.css")">

    <script src="@Url.Content("~/assets/plugins/custom/datatables/datatables.bundle.js")"></script>
    <script src="@Url.Content("~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js")"></script>
    <script src="@Url.Content("~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.th.min.js")"></script>

    <script src="@Url.Content("~/lib/datatable-export/buttons.html5.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/datatable-export/buttons.print.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/datatable-export/dataTables.buttons.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/datatable-export/jszip.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/datatable-export/pdfmake.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/datatable-export/vfs_fonts.js")" type="text/javascript"></script>
    <!--end::Page Scripts-->

    <script>
        var _callback = null
        var table = null;
        var dataSource = [];
        //dataSource = [{ RefFullname: 'test1', Note: 'detail1', IP: '127.0.0.1', ExceptionNote: '--ExceptionNote--', CreatedDate: '2022-08-10 18:10:05' }
        //    , { RefFullname: 'test2', Note: 'detail12', IP: '127.0.0.2', ExceptionNote: '--ExceptionNote--', CreatedDate: '2022-08-11 18:10:06' }
        //    , { RefFullname: 'test3', Note: 'detail3', IP: '127.0.0.3', ExceptionNote: '--ExceptionNote--', CreatedDate: '2022-08-12 18:10:07' }
        //    , { RefFullname: 'test4', Note: 'detail4', IP: '127.0.0.4', ExceptionNote: '--ExceptionNote--', CreatedDate: '2022-08-13 18:10:08' }
        //    , { RefFullname: 'test5', Note: 'detail5', IP: '127.0.0.5', ExceptionNote: '--ExceptionNote--', CreatedDate: '2022-08-14 18:10:09' }
        //    , { RefFullname: 'test6', Note: 'detail6', IP: '127.0.0.6', ExceptionNote: '--ExceptionNote--', CreatedDate: '2022-08-15 18:10:10' }
        //    , { RefFullname: 'test7', Note: 'detail7', IP: '127.0.0.7', ExceptionNote: '--ExceptionNote--', CreatedDate: '2022-08-16 18:10:11' }
        //    , { RefFullname: 'test12', Note: 'detail12', IP: '127.0.0.2', ExceptionNote: '--ExceptionNote--', CreatedDate: '2022-08-11 18:10:06' }
        //    , { RefFullname: 'test13', Note: 'detail3', IP: '127.0.0.3', ExceptionNote: '--ExceptionNote--', CreatedDate: '2022-08-12 18:10:07' }
        //    , { RefFullname: 'test14', Note: 'detail4', IP: '127.0.0.4', ExceptionNote: '--ExceptionNote--', CreatedDate: '2022-08-13 18:10:08' }
        //    , { RefFullname: 'test15', Note: 'detail5', IP: '127.0.0.5', ExceptionNote: '--ExceptionNote--', CreatedDate: '2022-08-14 18:10:09' }
        //    , { RefFullname: 'test16', Note: 'detail6', IP: '127.0.0.6', ExceptionNote: '--ExceptionNote--', CreatedDate: '2022-08-15 18:10:10' }
        //    , { RefFullname: 'test17', Note: 'detail7', IP: '127.0.0.7', ExceptionNote: '--ExceptionNote--', CreatedDate: '2022-08-16 18:10:11' }
        //];
        function GetTable() {
            var suc = function (html) {
                $('#box_update').html(html);
                init();
            }
            var err = function (e) {
                console.log('error GetTable: '+ e);
            }
            CallAjax('@Url.Action("GetTable", ViewData["ControllerName"])', 'GET', null, suc, err);
        }
        function CallAjax(url, method, data, success, error) {
        if (data != null && data !== undefined) {
            $.ajax({
                method: method,
                url: $("<div/>").html(url).text(),
                data: data,
                success: success,
                error: error
            });
        }
        else {
            $.ajax({
                method: method,
                url: $("<div/>").html(url).text(),
                success: success,
                error: error
            });
        }
    }

        function Search() {
            var text = $('#kt_subheader_search_form').val();
            var startDate = $('#StartDateStr').val();
            var endDate = $('#EndDateStr').val();

            var suc = function (data) {
                if (data.success) {
                    dataSource = data.data;
                    GetTable();
                }
            }
            var err = function (e) {
                alert('error Search', e);
            }
            CallAjax('@Url.Action("Search", ViewData["ControllerName"])', 'POST', { text: text, StartDateStr: startDate, EndDateStr: endDate }, suc, err);

        }

        function init() {
             table = $('#kt_datatable').DataTable({
			    data: dataSource,
                sortable: true,
                pagination: true,
                dom: "<'top mb-5'B>" +
                    "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row no-gutters px-3 pb-1 justify-content-center'<'col-auto'p>>" +
                    "<'row no-gutters thead-info align-items-center bg-light-primary my-3 rounded px-3 py-1'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                buttons: [ 
                    {
                        extend: 'excel', 
                    }, {
                        extend: 'csv',
                        text: 'CSV',
                        charset: 'utf-8',
                        extension: '.csv',
                        fieldBoundary: '',
                        bom: true, 
                    }, {
                        extend: 'print', 
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ],
			    columns: [
				    {
                        data: 'refFullname',
                       // title: 'ชื่อผู้ใช้งาน'
                    },
                    {
                        data: 'note',
                       // title: 'รายละเอียด'
                    },
                    {
                        data: 'ip',
                     //   title: 'IP'
                    },
                    {
                        data: 'exceptionNote',
                   //     title: 'ข้อผิดพลาด'
                    },
				    {
					    data: 'createdDateStr',
					//    type: 'date',
					//    format: 'YYYY-MM-DD HH:mm:ss',
				    }
			    ],
		    });
        }


        $(function () {
            $('.datepicker')
                .datepicker({
                    format: "dd/mm/yyyy",
                    todayBtn: "linked",
                    clearBtn: true,
                    language: "th",
                    todayHighlight: true,
                    autoclose: true,
                    //endDate: '+1d',
                    //datesDisabled: '+1d',
                })
            Search();
        });
    </script>
}

<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold my-1 mr-5">@ViewData["Title"]</h5>
                    <!--end::Page Title-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">

            <div class="card mb-5 mb-xl-8">
                <!--begin::Header-->
                <div class="card-header border-0 mb-n2">
                    @*<h3 class="card-title align-items-start flex-column">
                            <span class="card-label fw-bold fs-3 mb-1">New Arrivals</span>
                            <span class="text-muted mt-1 fw-semibold fs-7">Over 500 new products</span>
                        </h3>*@
                    <div class="card-toolbar">
                        <div class="mb-1">
                            <div class="row align-items-center">
                                <div class="col-lg-12 col-xl-12">
                                    <div class="row align-items-center">
                                        <div class="col-md-3 my-2 my-md-0">
                                            <div class="input-icon">
                                                <input type="text" class="form-control" id="kt_subheader_search_form" placeholder="ค้นหา..." />
                                                <span>
                                                    <i class="flaticon2-search-1 text-muted"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-3 my-2 my-md-0">
                                            <div class="input-group ">
                                                @Html.TextBoxFor(m => m.StartDateStr, new
                                            {
                                                @class = "form-control form-control-solid datepicker"
                                           ,
                                                @placeholder = "จากวันที่",
                                                @autocomplete = "off"
                                            })

                                                <div class="input-group-append">
                                                    <span class="btn input-group-text date-icon"><i class="fa fa-calendar"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 my-2 my-md-0">
                                            <div class="input-group ">
                                                @Html.TextBoxFor(m => m.EndDateStr, new
                                            {
                                                @class = "form-control form-control-solid datepicker"
                                           ,
                                                @placeholder = "ถึงวันที่",
                                                @autocomplete = "off"
                                            })

                                                <div class="input-group-append">
                                                    <span class="btn input-group-text date-icon"><i class="fa fa-calendar"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-lg-12 col-xl-12">
                                    <div class="row ">

                                        <div class="col-md-3 my-2  mt-5 ">
                                            <a href="#" class="btn btn-light-primary px-6 font-weight-bold" onclick="Search()">Search</a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <!--end::Search Form-->
                            <!--begin::Separator-->
                            @*<div class="separator separator-solid my-7"></div>*@
                            <!--end::Separator-->
                        </div>
                   
                    </div>

                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div class="card-body py-3">
                    <!--begin::Table container-->
                    <div class="table-responsive" id="box_update">



                    </div>
                    <!--end::Table container-->
                </div>
                <!--begin::Body-->
            </div>


        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
<!--end::Content-->
