@model JobModel
@using cisApp.Core
@using cisApp.Function
@{
    ViewData["Title"] = "รายละเอียดใบงาน";
}


<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Details-->
            <div class="d-flex align-items-center flex-wrap mr-2">
                <!--begin::Title-->
                <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">@ViewData["Title"]</h5>
                <!--end::Title-->
                <!--begin::Separator-->
                <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div>
                <!--begin::Title-->
                <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">@Model.JobNo</h5>
                <!--end::Title-->
                <!--end::Separator-->
               
            </div>
            <!--end::Details-->
            <!--begin::Toolbar-->
            <div class="d-flex align-items-center">

                <!--begin::Button-->
                @*<a href="@Url.Action("Manage","Jobs")" class="btn btn-light-primary font-weight-bold ml-2">สร้างใบงาน</a>*@
                <!--end::Button-->
                <!--begin::Dropdown-->
                @{
                    var jobStatus = GetJobsStatus.Get.GetAll();
                    var list = new SelectList(jobStatus, "JobStatusId", "Name");
                }
                @Html.DropDownListFor(m => m.JobStatus, list, "กรุณาเลือก", new { @class = "form-control  " })
                <!--begin::Button-->
                <a href="javascript:void(0)" class="btn btn-light-primary ml-3 job-staus-update">ปรับสถานะใบงาน</a>
                <!--end::Button-->
                <!--end::Dropdown-->
            </div>
            <!--end::Toolbar-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container-fluid">

            <!--begin::Card-->
            @{
                //await Html.RenderPartialAsync("~/Views/Shared/Common/JobsDetail.cshtml", Model);
            }
            @await Html.PartialAsync("PT/_CardJobInfo.cshtml", Model)
            <!--end::Card-->
            <!--begin::image-->
            <div class="" id="job_img_info">
                @await Html.PartialAsync("PT/_CardJobExImages.cshtml", Model)
            </div>
            <!--end::image-->

            @if (Model.JobStatus != 1)//ร่าง
            {
                <!--begin::Row-->
                <div class="row" id="candidate_list">
                    @await Html.PartialAsync("PT/_CardJobCandidate.cshtml", Model)
                </div>
                <!--end::Row-->
            }
            @if (Model.JobStatus > 2)//ประกวด
            {
                <!--begin::image-->
                <div class="" id="contest_list">
                    @await Html.PartialAsync("PT/_CardJobContest.cshtml", Model)
                </div>
                <!--end::image-->

                if (Model.JobCaUserId != null)
                {
                    <div id="job_img_submit">
                        @await Html.PartialAsync("PT/_CardJobSubmitInfo.cshtml", Model)
                    </div>
                }
            }

        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
<!--end::Content-->

@await Html.PartialAsync("~/Views/Shared/Jobs/JobAddCandidateModal.cshtml", new JobCandidateModel() { JobId = Model.JobId })

@await Html.PartialAsync("~/Views/Shared/Album/_ImagesViewModal.cshtml")

@section Scripts {

    <link href="@Url.Content("~/css/image-modal.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/assets/plugins/custom/datatables/datatables.bundle.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/assets/plugins/custom/datatables/datatables.bundle.js")"></script>

    <script>
        var _table = null; 
        function complatedModal(data) {
            if (data.success) {
                //toastr.success(data.message, { fadeIn: 300 })
                SuccessSwal();
                $('#addNewCandidateModal').modal("hide");
                GetCandidateList();
            }
            else {
                //toastr.error(data.message, { fadeOut: 1000 });
                ErrorSwal(data.message);
                $('#addNewCandidateModal').modal("hide");
            }
        }
        function GetCandidateList() {
            var suc = function (html) {
                $('#candidate_list').html(html);
                initDataTable('#kt_datatable');
            }
            var err = function (e) {
                alert('error ca modal', e);
            }
            CallAjax('@Url.Action("CardCandidateList", "Jobs")', 'POST', { JobId:'@Model.JobId' }, suc, err);
        }
        function addEvent() {
            $('.btn-add-new-ca').unbind('click')
            $('.btn-add-new-ca').on('click', function () {
                var tr = $(this).parents('tr');
                var suc = function (html) {
                    $('#new_ca').show();
                    $('#addNewCandidateModal .modal-body #selected_user').append(html);
                    _table.row(tr).remove().draw();
                    addEvent();
                }
                var err = function (e) {
                    alert('error ca modal', e);
                }
                var url = $(this).attr('data-url');
                var uid = $(this).attr('data-uid');
                var fullname = $(this).attr('data-fullname');
                var jid = $(this).attr('data-jid');
                CallAjax(url, 'POST', { UserId: uid, UserFullName: fullname, JobId: jid }, suc, err);
            });
        }
        function LoadModalBody() {
            initDataTable('#kt_datatable_ca', 1);//init modal table
            addEvent();
            $('.btn-modal-submit').on('click', function (e) {
                e.preventDefault();
                Swal.fire({
                    title: "เพิ่มผู้ใช้เข้ากลุ่ม",
                    text: "เพิ่มผู้ใช้เข้ากลุ่ม",
                    icon: "question",
                    showCancelButton: true,
                    confirmButtonText: "ใช่, ยืนยัน",
                    cancelButtonText: "ไม่, ยกเลิก",
                    reverseButtons: true
                }).then(function (result) {
                    if (result.value) {
                        $('#kt_form_modal').submit();
                    } else if (result.dismiss === "cancel") {
                        
                    }
                });  
            });
        }
        function initDataTable(elementId, style=0) {
            _table = $(elementId).DataTable({
                language: {
                    search: 'ค้นหา:',
                    emptyTable: 'ไม่พบข้อมูล',
                    info: 'แสดง _START_ ถึง _END_ จาก _TOTAL_ รายการ',
                    lengthMenu: 'แสดง _MENU_ รายการ',
                    infoFiltered: 'กรองจากทั้งหมด _MAX_ รายการ'
                },
                lengthChange: false,
                pageLength : 5,
                dom: style == 1 ? "<f<t>ip>" : "<lf<t>ip>",
                order: [[3, 'desc']]
            });
        }


        $(function () {
            _delCallback = function () {
                var suc = function (html) {
                $('#candidate_list').html(html);
                initDataTable('#kt_datatable');
                }
                var err = function (e) {
                    alert('error ca modal', e);
                }
                CallAjax('@Url.Action("CardCandidateList", "Jobs")', 'POST', { JobId:'@Model.JobId' }, suc, err);
            }
            initDataTable('#kt_datatable'); 
            $('body').on('click', '.btn-modal-add-ca', function () {
                var suc = function (html) {
                    $('#addNewCandidateModal .modal-body #table_user').html(html);
                    $('#addNewCandidateModal .modal-body #selected_user').html('');
                    LoadModalBody();
                    $('#new_ca').hide();
                    $('#addNewCandidateModal').modal("show");
                }
                var err = function (e) {
                    alert('error ca modal', e);
                }
                CallAjax('@Url.Action("CandidateUserList", "Jobs")', 'POST', { JobId:'@Model.JobId' }, suc, err);

            })
            $('body').on('click', '.job-staus-update', function () {
                var status = $('#JobStatus').val();
                var suc = function (res) {
                    if (res.success) {
                        window.location.replace(res.redirectUrl);
                    }
                    else {
                        $('#JobStatus').val(res.data.status).trigger('change');
                        MassageSwal("ไม่สามารถดำเนินการได้", res.message, "error")
                    }
                }
                var err = function (e) {
                    console.log('error ca modal', e);
                }
                CallAjax('@Url.Action("JobStatusUpdate", "Jobs")', 'POST', { JobId:'@Model.JobId', JobStatus: status }, suc, err);
            }) 
            $('body').on('click', 'a.ca-select', function (e) {
                //e.preventDefault();
                var check = $(this).attr('data-check');
                if (check.length > 0) {
                    MassageSwal("ไม่สามารถดำเนินการได้", check, "error")
                    return false;
                }
                else {
                    return true;
                }
            });

        });

    </script>

}