@using cisApp.Function
@model SearchModel
@{
    ViewData["Title"] = "ใบงาน";
}


<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Details-->
            <div class="d-flex align-items-center flex-wrap mr-2">
                <!--begin::Title-->
                <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">@ViewData["Title"]</h5>
                <!--end::Title-->
                <!--begin::Separator-->
                <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div>
                <!--end::Separator-->
                <!--begin::Search Form-->
                 
                <!--end::Search Form-->
                <!--begin::Group Actions-->
                <!--end::Group Actions-->
            </div>
            <!--end::Details-->
            <!--begin::Toolbar-->
            <!--end::Toolbar-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <div class="container">

            <!--begin::Card-->
            <div class="card card-custom gutter-b">
                <div class="card-header flex-wrap border-0 pt-6 pb-0">
                    <div class="card-title">

                    </div>
                    <div class="card-toolbar">
                        <!--begin::Dropdown-->
                        <div class="dropdown dropdown-inline mr-2">
                            <button type="button" class="btn btn-light-google font-weight-bolder dropdown-toggle" onclick="Export();" aria-haspopup="true" aria-expanded="false">
                                <span class="svg-icon svg-icon-md">
                                    <!--begin::Svg Icon | path:assets/media/svg/icons/Design/PenAndRuller.svg-->
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24" />
                                            <path d="M3,16 L5,16 C5.55228475,16 6,15.5522847 6,15 C6,14.4477153 5.55228475,14 5,14 L3,14 L3,12 L5,12 C5.55228475,12 6,11.5522847 6,11 C6,10.4477153 5.55228475,10 5,10 L3,10 L3,8 L5,8 C5.55228475,8 6,7.55228475 6,7 C6,6.44771525 5.55228475,6 5,6 L3,6 L3,4 C3,3.44771525 3.44771525,3 4,3 L10,3 C10.5522847,3 11,3.44771525 11,4 L11,19 C11,19.5522847 10.5522847,20 10,20 L4,20 C3.44771525,20 3,19.5522847 3,19 L3,16 Z" fill="#000000" opacity="0.3" />
                                            <path d="M16,3 L19,3 C20.1045695,3 21,3.8954305 21,5 L21,15.2485298 C21,15.7329761 20.8241635,16.200956 20.5051534,16.565539 L17.8762883,19.5699562 C17.6944473,19.7777745 17.378566,19.7988332 17.1707477,19.6169922 C17.1540423,19.602375 17.1383289,19.5866616 17.1237117,19.5699562 L14.4948466,16.565539 C14.1758365,16.200956 14,15.7329761 14,15.2485298 L14,5 C14,3.8954305 14.8954305,3 16,3 Z" fill="#000000" />
                                        </g>
                                    </svg>
                                    <!--end::Svg Icon-->
                                </span>Export
                            </button>
                        </div>
                        <!--end::Dropdown-->
                    </div>
                </div>
                <div class="card-body">
                    <!--begin::Search Form-->
                    <div class="mb-1">
                        <div class="row align-items-center">
                            <div class="col-lg-12 col-xl-12">
                                <div class="row align-items-center">
                                    <div class="col-md-3 my-2 my-md-0">
                                        <div class="input-icon">
                                            <input type="text" class="form-control" id="kt_subheader_search_form" placeholder="ค้นหา..." />
                                            <span>
                                                <i class="flaticon2-search-1 text-muted"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 my-2 my-md-0">
                                        <div class="input-group ">
                                            @Html.TextBoxFor(m => m.StartDateStr, new
                                        {
                                            @class = "form-control form-control-solid datepicker"
                                       ,
                                            @placeholder = "จากวันที่",
                                            @autocomplete = "off"
                                        })

                                            <div class="input-group-append">
                                                <span class="btn input-group-text date-icon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 my-2 my-md-0">
                                        <div class="input-group ">
                                            @Html.TextBoxFor(m => m.EndDateStr, new
                                        {
                                            @class = "form-control form-control-solid datepicker"
                                       ,
                                            @placeholder = "ถึงวันที่",
                                            @autocomplete = "off"
                                        })

                                            <div class="input-group-append">
                                                <span class="btn input-group-text date-icon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 my-2 my-md-0">
                                        @{
                                            var jobStatus = GetJobsStatus.Get.GetAll();
                                            var list = new SelectList(jobStatus, "JobStatusId", "Name");
                                        }
                                        @Html.DropDownListFor(m => m.JobStatus, list, "สถานะใบงาน", new { @class = "form-control job-staus-filter " })
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-lg-12 col-xl-12">
                                <div class="row ">

                                    <div class="col-md-3 my-2  mt-5 ">
                                        <a href="#" class="btn btn-light-primary px-6 font-weight-bold" onclick="PagerClick(1)">Search</a>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <!--end::Search Form-->
                        <!--begin::Separator-->
                        @*<div class="separator separator-solid my-7"></div>*@
                        <!--end::Separator-->
                    </div>



                </div>
            </div>

            <!--begin::Container-->
            <div class="container" id="box_update">

            </div>
            <!--end::Container-->

        </div>
            <!--end::Card-->
             
    </div>
    <!--end::Entry-->
</div>
<!--end::Content-->

@section Scripts {

    <link rel="stylesheet" href="@Url.Content("~/lib/bootstrap-datepicker/css/bootstrap-datepicker.css")">


    <script src="@Url.Content("~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js")"></script>
    <script src="@Url.Content("~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.th.min.js")"></script>
    <script src="@Url.Content("~/lib/TableExport/xlsx.core.min.js")"></script>
    <script src="@Url.Content("~/lib/TableExport/FileSaver.js")"></script>
    <script src="@Url.Content("~/lib/TableExport/tableExport.js")"></script>

    <script>

        function PagerClick(index) {
            var text = $('#kt_subheader_search_form').val();
            var startDate = $('#StartDateStr').val();
            var endDate = $('#EndDateStr').val();
            var status = $('#JobStatus').val();

            var suc = function (html) {
                $('#box_update').html(html);
                $('#kt_subheader_total').html($('#TotalCount').val());
            }
            var err = function (e) {
                alert('error paging', e);
            }
            CallAjax('@Url.Action("ItemList", "Jobs")', 'POST', { text: text, status: status, StartDateStr: startDate, EndDateStr: endDate, Id: '@Model.Id', currentPage: index, pageSize: $('#pageSize').val() }, suc, err);
        }

        function Export() {
            var text = $('#kt_subheader_search_form').val();
            var startDate = $('#StartDateStr').val();
            var endDate = $('#EndDateStr').val();
            var status = $('#JobStatus').val();
            var sys = '@Html.Raw(ViewData["Title"].ToString())';

            GetExport('@Url.Action("Export", ViewData["ControllerName"])',  {
                    text: text, status: status, StartDateStr: startDate, EndDateStr: endDate, Id: '@Model.Id'
                    , currentPage: 1
                    , pageSize: $('#TotalCount').val()
                }, 'รายงาน'+sys+'_@DateTime.Now.ToString("yyyyMMddHHmmss")');
        }

        $(function () {
            $('body').on('change', '#pageSize', function () {
                PagerClick(1);
            });
            PagerClick(1);

            //$('body').on('change', '.job-staus-filter', function () {
            //    PagerClick(1);
            //});

            $('body').on('click', '.btn-search', function () {
                PagerClick(1);
            })

        });

            $('.datepicker')
                .datepicker({
                    format: "dd/mm/yyyy",
                    todayBtn: "linked",
                    clearBtn: true,
                    language: "th",
                    todayHighlight: true,
                    autoclose: true,
                    //endDate: '+1d',
                    //datesDisabled: '+1d',
                })
    </script>

}