@model ChangePasswordModel
@{
    ViewData["Title"] = "Post";
    Layout = null;
    ViewData["ControllerName"] = "Post";
}


<!DOCTYPE html>

<html lang="en">
<!--begin::Head-->
<head>

    <base href="../../../../">

    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="description" content="Forget Password" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    @*<link rel="canonical" href="https://keenthemes.com/metronic" />*@
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Page Custom Styles(used by this page)-->
    <link href="@Url.Content("~/assets/css/pages/login/classic/login-5.css")" rel="stylesheet" type="text/css" />
    <!--end::Page Custom Styles-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="@Url.Content("~/assets/plugins/global/plugins.bundle.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/plugins/custom/prismjs/prismjs.bundle.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/css/style.bundle.css")" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles-->
    <!--begin::Layout Themes(used by all pages)-->
    <!--end::Layout Themes-->
    <link rel="shortcut icon" href="@Url.Content("~/assets/media/logos/favicon.ico")" />
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed page-loading">
    <!--begin::Main-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Login-->
        <div class="login login-5 login-signin-on d-flex flex-row-fluid" id="kt_login">
            <div class="d-flex flex-center bgi-size-cover bgi-no-repeat flex-row-fluid" style="background-image: url(assets/media/bg/bg-2.jpg);">
                <div class="login-form text-center text-white p-7 position-relative overflow-hidden">


                </div>
            </div>
        </div>
        <!--end::Login-->
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modalMobile" tabindex="-1" role="dialog" aria-labelledby="modalMobile" aria-hidden="true">
        <div class="modal-dialog modal-dialog-top modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">  
                    <div class="d-flex justify-content-between" id="box_update">
                        <img src="@Url.Content("~/logo.png")" style="height:40px"> <span class="col-form-label">Cloud Idea</span>
                        <a class="btn btn-primary" href="javascript:void(0)" click="onOpenAppClick">เปิด</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!--end::Main-->
    @*<script>var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";</script>*@
    <!--begin::Global Config(global config for global JS scripts)-->
    <script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1400 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#3699FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#E4E6EF", "dark": "#181C32" }, "light": { "white": "#ffffff", "primary": "#E1F0FF", "secondary": "#EBEDF3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#3F4254", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#EBEDF3", "gray-300": "#E4E6EF", "gray-400": "#D1D3E0", "gray-500": "#B5B5C3", "gray-600": "#7E8299", "gray-700": "#5E6278", "gray-800": "#3F4254", "gray-900": "#181C32" } }, "font-family": "Poppins" };</script>
    <!--end::Global Config-->
    <!--begin::Global Theme Bundle(used by all pages)-->
    <script src="@Url.Content("~/assets/plugins/global/plugins.bundle.js")"></script>
    <script src="@Url.Content("~/assets/plugins/custom/prismjs/prismjs.bundle.js")"></script>
    <script src="@Url.Content("~/assets/js/scripts.bundle.js")"></script>
    <!--end::Global Theme Bundle-->

    <script type="text/javascript" src="@Url.Content("~/lib/jquery-validation/dist/jquery.validate.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/lib/jquery-unobtrusive-ajax/jquery.unobtrusive-ajax.js")"></script>


    <!--begin::Page Scripts(used by this page)-->
    @*<script src="@Url.Content("~/assets/js/pages/custom/login/login-general.js")"></script>*@
    <script type="text/javascript" src="@Url.Content("~/js/Utils.js")"></script>
    <!--end::Page Scripts-->

    <script>
        var userAgent = navigator.userAgent || navigator.vendor || window.opera;

            // Windows Phone must come first because its UA also contains "Android"
            if (/windows phone/i.test(userAgent)) {
                //return "Windows Phone";
            }

            if (/android/i.test(userAgent)) {
                //return "Android";
                try {
                    console.log('android', '@ViewData["MobileLinkAndroid"].ToString()');
                window.location = '@ViewData["MobileLinkAndroid"].ToString()'
                //window.open('@ViewData["MobileLinkAndroid"].ToString()')
                    $('#modalMobile').modal('show')
                }
                catch (ex) {
                    window.location = 'https://apps.apple.com/th/app/cloud-idea/id1622609196?l=th'
                }

            }

            // iOS detection from: http://stackoverflow.com/a/9039885/177710
            if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
                //return "iOS";
                try {
                    console.log('ios', '@ViewData["MobileLink"].ToString()');
                window.location = '@ViewData["MobileLink"].ToString()'
                //window.open('@ViewData["MobileLink"].ToString()')
                    $('#modalMobile').modal('show')
                } catch (ex) {
                    window.location = 'https://apps.apple.com/th/app/cloud-idea/id1622609196?l=th'
                }

        }

        function onOpenAppClick() {
            if (/android/i.test(userAgent)) {
                //return "Android";
                try {
                    console.log('android', '@ViewData["MobileLinkAndroid"].ToString()');
                window.location = '@ViewData["MobileLinkAndroid"].ToString()'
                //window.open('@ViewData["MobileLinkAndroid"].ToString()')
                }
                catch (ex) {
                    window.location = 'https://apps.apple.com/th/app/cloud-idea/id1622609196?l=th'
                }

            }

            // iOS detection from: http://stackoverflow.com/a/9039885/177710
            if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
                //return "iOS";
                try {
                    console.log('ios', '@ViewData["MobileLink"].ToString()');
                    window.location = '@ViewData["MobileLink"].ToString()'
                    //window.open('@ViewData["MobileLink"].ToString()')
                } catch (ex) {
                    window.location = 'https://apps.apple.com/th/app/cloud-idea/id1622609196?l=th'
                }
            }
        }
    </script>
</body>
<!--end::Body-->
</html>
