@using HtmlHelpers.BeginCollectionItemCore
@model cisApp.Function.FileAttachModel
@{
}

@using (Html.BeginCollectionItem("files"))
{
    <div class="col-12 col-md-2 single-img">
        @Html.HiddenFor(m => m.TypeId)
        @Html.HiddenFor(m => m.Description)
        @Html.HiddenFor(m => m.AttachFileId)
        @Html.HiddenFor(m => m.FileName)
        @Html.HiddenFor(m => m.Size)
        @Html.HiddenFor(m => m.FileBase64)
        @if (!Model.IsView)
        {
            <span class="float-right position-relative mr-n5 mb-n4 bt-img-del"> <i class="flaticon-circle icon-lg text-danger position-static zindex-2"></i></span>
        }
        <img src="@Url.Content(String.IsNullOrEmpty(Model.FileBase64) ? Model.UrlPath : Model.FileBase64)" alt="@Html.Raw(Model.FileName)" class="img-thumbnail mx-3 my-3">
    </div>
}
 