@using cisApp.Function
@model UserModel
@{
}


<div class="my-5">
    <h3 class="text-dark font-weight-bold mb-10">ข้อมูลผู้ใช้งาน:</h3>
    <div class="form-group row">
        @Html.LabelFor(m => m.Fname, "", new { @class = "col-3" })
        <div class="col-9">
            @Html.TextBoxFor(m => m.Fname, "", new { @class = "form-control form-control-solid", @placeholder = "กรุณากรอกชื่อ", @autocomplete = "off" })
            @Html.ValidationMessageFor(m => m.Fname, "", new { @class = "text-danger" })
        </div>

    </div>
    <div class="form-group row">
        @Html.LabelFor(m => m.Lname, "", new { @class = "col-3" })
        <div class="col-9">
            @Html.TextBoxFor(m => m.Lname, "", new { @class = "form-control form-control-solid", @placeholder = "กรุณากรอกนามสกุล", @autocomplete = "off" })
            @Html.ValidationMessageFor(m => m.Lname, "", new { @class = "text-danger" })
        </div>

    </div>
    <div class="form-group row">
        @Html.LabelFor(m => m.Tel, "", new { @class = "col-3" })
        <div class="col-9">
            <div class="input-group input-group-solid">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="la la-phone"></i>
                    </span>
                </div>
                @Html.TextBoxFor(m => m.Tel, "", new { @class = "form-control form-control-solid", @placeholder = "Phone", @autocomplete = "off" })
            </div>
            @Html.ValidationMessageFor(m => m.Tel, "", new { @class = "text-danger" })
            <span class="form-text text-muted">We'll never share your email with anyone else.</span>
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(m => m.Email, "", new { @class = "col-3" })
        <div class="col-9">
            <div class="input-group input-group-solid">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="la la-at"></i>
                    </span>
                </div>
                @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control form-control-solid", @placeholder = "Email", @autocomplete = "off" })
            </div>
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    @*<div class="form-group row">
            <label class="col-3">Company Site</label>
            <div class="col-9">
                <div class="input-group input-group-solid">
                    <input type="text" class="form-control form-control-solid" placeholder="Username" value="loop" />
                    <div class="input-group-append">
                        <span class="input-group-text">.com</span>
                    </div>
                </div>
            </div>
        </div>*@
</div>