@using cisApp.library;
@using cisApp.Function;
@model FilePageModel
@{
    ViewData["Title"] = "ผลงาน";
    ViewData["ControllerName"] = "Files";

    string albumActive = "", imageActive = "";

    if (Model.SearchBy == "album")
    {
        albumActive = "active";
    }
    else
    {
        imageActive = "active";
    }
}

<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Mobile Toggle-->
                <button class="burger-icon burger-icon-left mr-4 d-inline-block d-lg-none" id="kt_subheader_mobile_toggle">
                    <span></span>
                </button>
                <!--end::Mobile Toggle-->
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold my-1 mr-5">@ViewData["Title"]</h5>
                    <!--end::Page Title-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Apps</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Todo</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Files</a>
                        </li>
                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->
            <!--begin::Toolbar-->
            <div class="d-flex align-items-center">
                <!--begin::Actions-->
                <a href="#" class="btn btn-light-primary font-weight-bolder btn-sm">Actions</a>
                <!--end::Actions-->
                <!--begin::Dropdown-->
                <div class="dropdown dropdown-inline" data-toggle="tooltip" title="Quick actions" data-placement="left">
                    <a href="#" class="btn btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="svg-icon svg-icon-success svg-icon-2x">
                            <!--begin::Svg Icon | path:assets/media/svg/icons/Files/File-plus.svg-->
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon points="0 0 24 0 24 24 0 24" />
                                    <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                    <path d="M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z" fill="#000000" />
                                </g>
                            </svg>
                            <!--end::Svg Icon-->
                        </span>
                    </a>
                </div>
                <!--end::Dropdown-->
            </div>
            <!--end::Toolbar-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container-fluid">
            <!--begin::Todo Files-->
            <div class="d-flex flex-row">
                <!--begin::Aside-->
                @await Html.PartialAsync("Pt/_AsideFilter", Model)

                @Html.HiddenFor(m => m.Category)
                @Html.HiddenFor(m => m.Tag)
                @Html.HiddenFor(m => m.SearchBy)
                @Html.HiddenFor(m => m.AlbumId)
                <!--end::Aside-->
                <!--begin::List-->
                <div class="flex-row-fluid d-flex flex-column ml-lg-8">
                    <div class="d-flex flex-column flex-grow-1">
                        <!--begin::Head-->
                        <div class="card card-custom gutter-b">
                            <!--begin::Body-->
                            <div class="card-body d-flex align-items-center justify-content-between flex-wrap py-3">
                                <!--begin::Info-->
                                <div class="d-flex align-items-center mr-2 py-2">
                                    <!--begin::Title-->
                                    <h3 class="font-weight-bold mb-0 mr-10">แสดงทั้งหมด</h3>
                                    <!--end::Title-->
                                    <!--begin::Navigation-->
                                    <div class="d-flex mr-3">
                                        <!--begin::Navi-->
                                        <div class="navi navi-hover navi-active navi-link-rounded navi-bold d-flex flex-row">
                                            <!--begin::Item-->
                                            <div class="navi-item mr-2">
                                                <a href="javascript:void(0)" class="navi-link custom-search-by @albumActive" keyword-data="album">
                                                    <span class="navi-text">อัลบั้ม</span>
                                                </a>
                                            </div>
                                            <!--end::Item-->
                                            <!--begin::Item-->
                                            <div class="navi-item mr-2">
                                                <a href="javascript:void(0)" class="navi-link custom-search-by @imageActive" keyword-data="image">
                                                    <span class="navi-text">รายการ</span>
                                                </a>
                                            </div>
                                            <!--end::Item-->
                                        </div>
                                        <!--end::Navi-->
                                    </div>
                                    <!--end::Navigation-->
                                </div>
                                <!--end::Info-->
                            </div>
                            <!--end::Body-->
                        </div>
                        <!--end::Head-->
                        <!--begin::Row-->
                        <div class="" id="designer_box">

                        </div>
                        <div class="row" id="box_update">
                            @*@await Html.PartialAsync("PT/_itemlist")*@
                        </div>

                        <!--end::Row-->
                    </div>
                </div>
                <!--end::List-->
            </div>
            <!--end::Todo Files-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
<!--end::Content-->

@await Html.PartialAsync("~/Views/Shared/Album/_ImagesViewModal.cshtml")


@section scripts {

    <link href="@Url.Content("~/css/image-modal.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/js/pages/file/file.js")"></script>

    <script>

        const _DesignerProfileUrl = '@Url.Action("DesignerProfile", "Files", new { id = "__id__" })'

    function PagerClick(index) {
        var suc = function (html) {
            $('#box_update').html(html);
        }
        var err = function (e) {
            alert('error paging', e);
        }

        //var text = $('#kt_datatable_search_query').val()
        //var active = $('#kt_datatable_search_status').val()
        var tag = $('#Tag').val()
        var category = $('#Category').val()
        var searchBy = $('#SearchBy').val()
        var designer = $('#Designer').val()
        var albumId = $('#AlbumId').val()


        CallAjax('@Url.Action("ItemList", ViewData["ControllerName"])', 'POST'
            , {
                categories: category
                , tags: tag
                , searchBy: searchBy
                , designer: designer
                , albumId: albumId
                ,currentPage: index
                , pageSize: $('#pageSize').val()
            }
            , suc, err);
    }

    $(function () {
        $('body').on('change', '#pageSize', function () {
            PagerClick(1);
        });
        PagerClick(1);

        $('body').on('click', '.img-popup', function () {
            var $this = $(this);
            console.log($this)

            var data = {}
            data.files = [];
            var objImg = {};
            objImg.NextImgSelected = $this.attr('data-slide-to');
            objImg.NextImg = $this.attr('data-slide-to');
            objImg.FileName = $this.attr('alt');
            objImg.AttachFileId = $this.attr('data-id');

            data.files.push(objImg);
            console.log(objImg)
            var suc = function (html) {
                $('#carouselPreview').html(html);
                $('#previewModal').modal('show');
            }
            var err = function (e) {
                alert('error carouselPreview', e);
            }
            CallAjax(_previewImgUrl, 'POST', data, suc, err);
        });
    });
    </script>
}