@using cisApp.Function

@model AlbumModel
@{
    ViewData["Title"] = "ระบบส่งงานผู้ว่าจ้าง";
    ViewData["ControllerName"] = "Album";
}

<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold my-1 mr-5">@ViewData["Title"] </h5>
                    <!--end::Page Title-->
                    <!--begin::Breadcrumb-->
                    @*<ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                            <li class="breadcrumb-item">
                                <a href="" class="text-muted">Pages</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="" class="text-muted">Wizard 3</a>
                            </li>
                        </ul>*@
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->
            <!--begin::Toolbar-->
            <div class="d-flex align-items-center">
                <!--begin::Actions-->
                <a href="#" class="btn btn-light-primary font-weight-bolder btn-sm">Actions</a>
                <!--end::Actions-->
                <!--begin::Dropdown-->
                <div class="dropdown dropdown-inline" data-toggle="tooltip" title="Quick actions" data-placement="left">
                    <a href="#" class="btn btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="svg-icon svg-icon-success svg-icon-2x">
                            <!--begin::Svg Icon | path:assets/media/svg/icons/Files/File-plus.svg-->
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon points="0 0 24 0 24 24 0 24" />
                                    <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                    <path d="M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z" fill="#000000" />
                                </g>
                            </svg>
                            <!--end::Svg Icon-->
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-md dropdown-menu-right p-0 m-0">
                        <!--begin::Navigation-->
                        <ul class="navi navi-hover">
                            <li class="navi-header font-weight-bold py-4">
                                <span class="font-size-lg">Choose Label:</span>
                                <i class="flaticon2-information icon-md text-muted" data-toggle="tooltip" data-placement="right" title="Click to learn more..."></i>
                            </li>
                            <li class="navi-separator mb-3 opacity-70"></li>
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-text">
                                        <span class="label label-xl label-inline label-light-success">Customer</span>
                                    </span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-text">
                                        <span class="label label-xl label-inline label-light-danger">Partner</span>
                                    </span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-text">
                                        <span class="label label-xl label-inline label-light-warning">Suplier</span>
                                    </span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-text">
                                        <span class="label label-xl label-inline label-light-primary">Member</span>
                                    </span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-text">
                                        <span class="label label-xl label-inline label-light-dark">Staff</span>
                                    </span>
                                </a>
                            </li>
                            <li class="navi-separator mt-3 opacity-70"></li>
                            <li class="navi-footer py-4">
                                <a class="btn btn-clean font-weight-bold btn-sm" href="#">
                                    <i class="ki ki-plus icon-sm"></i>Add new
                                </a>
                            </li>
                        </ul>
                        <!--end::Navigation-->
                    </div>
                </div>
                <!--end::Dropdown-->
            </div>
            <!--end::Toolbar-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <div class="card card-custom">
                <div class="card-body p-0">
                    <!--begin: Wizard-->
                    <div class="wizard wizard-3" id="kt_wizard_v3" data-wizard-state="step-first" data-wizard-clickable="true">
                        <!--begin: Wizard Nav-->
                        <div class="wizard-nav">
                            <div class="wizard-steps px-8 py-8 px-lg-15 py-lg-3">
                                <!--begin::Wizard Step 1 Nav-->
                                <div class="wizard-step" data-wizard-type="step" data-wizard-state="current">
                                    <div class="wizard-label">
                                        <h3 class="wizard-title">
                                            <span>1.</span>รายละเอียดการส่งงาน
                                        </h3>
                                        <div class="wizard-bar"></div>
                                    </div>
                                </div>
                                <!--end::Wizard Step 1 Nav-->
                                <!--begin::Wizard Step 2 Nav-->
                                <div class="wizard-step" data-wizard-type="step">
                                    <div class="wizard-label">
                                        <h3 class="wizard-title">
                                            <span>2.</span>อัพโหลดเนื้อหา
                                        </h3>
                                        <div class="wizard-bar"></div>
                                    </div>
                                </div>
                                <!--end::Wizard Step 2 Nav-->
                                <!--begin::Wizard Step 3 Nav-->
                                <div class="wizard-step" data-wizard-type="step">
                                    <div class="wizard-label">
                                        <h3 class="wizard-title">
                                            <span>3.</span>ยืนยันข้อมูล
                                        </h3>
                                        <div class="wizard-bar"></div>
                                    </div>
                                </div>
                                <!--end::Wizard Step 3 Nav-->
                             </div>
                        </div>
                        <!--end: Wizard Nav-->
                        <!--begin: Wizard Body-->
                        <div class="row justify-content-center py-10 px-8 py-lg-12 px-lg-10">
                            <div class="col-xl-12 col-xxl-7">
                                <!--begin: Wizard Form-->
                                <form class="form" id="kt_form" asp-action="Submitwork" asp-controller=@ViewData["ControllerName"] method="post" data-ajax-confirm="@MessageCommon.Confirm" data-ajax="true" data-ajax-success="redirect">
                                    <!--begin: Wizard Step 1-->
                                    <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                                        <h4 class="mb-10 font-weight-bold text-dark">ตั้งค่าเนื้อหา รายการข้อมูลทั้งหมดจะถูกนำไปทำเป็น Profile ข้อมูล</h4>
                                        @Html.HiddenFor(m => m.AlbumId)
                                        @Html.HiddenFor(m => m.AlbumType)
                                        @Html.HiddenFor(m => m.UserId)
                                        @Html.HiddenFor(m => m.JobId)
                                        <!--begin::Input-->
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.AlbumName, "ชื่ออัลบั้ม", new { })
                                            @Html.TextBoxFor(m => m.AlbumName, new { @class= "form-control" , @placeholder= "ชื่ออัลบั้ม", @required="required" })                                            
                                            <span class="form-text text-muted">โปรดใส่ชื่อ อัลบั้มภาพของคุณ</span>
                                        </div>
                                        <!--end::Input-->
                                        <!--begin::Input-->
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Url, "URL สำหรับดาวน์โหลดข้อมูล", new { })
                                            @Html.TextBoxFor(m => m.Url, new { @class = "form-control", @placeholder = "URL สำหรับดาวน์โหลดข้อมูล", @required = "required" })
                                        </div>
                                        <!--end::Input-->
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <!--begin::Input-->
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.Category, "ประเภทงาน", new { })
                                                    @Html.TextBoxFor(m => m.Category, new { @class = "form-control", @placeholder = "ประเภทงาน", @required = "required" })
                                                </div>
                                                <!--end::Input-->
                                            </div>
                                            <div class="col-xl-6">
                                                <!--begin::Input-->
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.Tags, "Tag", new { })
                                                    @Html.TextBoxFor(m => m.Tags, new { @class = "form-control", @placeholder = "Tag", @required = "required" })
                                                </div>
                                                <!--end::Input-->
                                            </div>
                                        </div>
                                    </div>
                                    <!--end: Wizard Step 1-->
                                    <!--begin: Wizard Step 2-->
                                    <div class="pb-5" data-wizard-type="step-content">
                                        <h4 class="mb-10 font-weight-bold text-dark">เลือกรูปภาพที่ต้องการนำส่ง</h4>
                                        <!--begin::Input-->
                                        <div class="dropzone dropzone-default" id="kt_dropzone_multi_1">
                                            <div class="dropzone-msg dz-message needsclick">
                                                <h3 class="dropzone-msg-title">ลากไฟล์มาวางเพื่ออัพโหลด</h3>
                                            </div>
                                        </div>
                                        <div class="row kt_dropzone_multi_1" id="image_previews">
                                            @{
                                                if (Model.files != null && Model.files.Count > 0)
                                                {
                                                    foreach (var item in Model.files)
                                                    {
                                                        @await Html.PartialAsync("~/Views/Shared/Common/_ImageItem.cshtml", item)
                                                    }
                                                }

                                            }
                                        </div>
                                        <div class="separator separator-dashed my-10"></div>
                                    </div>
                                    <!--end: Wizard Step 2-->
                                    <!--begin: Wizard Step 3-->
                                    <div class="pb-5" data-wizard-type="step-content">

                                        <!--begin::image-->
                                        <div class="card card-custom gutter-b">
                                            <div class="card-header h-auto border-0">
                                                <div class="card-title py-5">
                                                    <h3 class="card-label">
                                                        <span class="d-block text-dark font-weight-bolder">ส่งแบบครั้งที่ 1</span>
                                                    </h3>
                                                </div>
                                            </div>

                                            <div class="card-body">
                                                <div class="d-flex">
                                                    <!--begin: Info-->
                                                    <div class="flex-grow-1">
                                                        <!--begin: Content-->
                                                        <div class="d-flex align-items-center flex-wrap justify-content-between thumbnail-gallery">
                                                            @{ int i = 0;
                                                                int Temp = 10;
                                                            }
                                                            @while (i < 10)
                                                            {
                                                                i++;
                                                                Temp++;
                                                                <img src="https://picsum.photos/200/200?random=@Temp" alt="..." class="img-thumbnail">
                                                            }
                                                        </div>
                                                        <!--end: Content-->
                                                    </div>
                                                    <!--end: Info-->
                                                </div>
                                                <div class="separator separator-solid my-7"></div>
                                            </div>
                                        </div>
                                        <!--end::image-->



                                    </div>
                                    <!--end: Wizard Step 3--> 
                                    <!--begin: Wizard Actions-->
                                    <div class="d-flex justify-content-between border-top mt-5 pt-10">
                                        <div class="mr-2">
                                            <button type="button" class="btn btn-light-primary font-weight-bolder text-uppercase px-9 py-4" data-wizard-type="action-prev">ย้อนกลับ</button>
                                        </div>
                                        <div>
                                            <a class="btn btn-success font-weight-bolder text-uppercase px-9 py-4  btn-submit">นำส่ง</a>
                                            <button type="button" class="btn btn-primary font-weight-bolder text-uppercase px-9 py-4" data-wizard-type="action-next">ถัดไป</button>
                                        </div>
                                    </div>
                                    <!--end: Wizard Actions-->
                                </form>
                                <!--end: Wizard Form-->
                            </div>
                        </div>
                        <!--end: Wizard Body-->
                    </div>
                    <!--end: Wizard-->
                </div>
            </div>
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
<!--end::Content-->
@section Scripts
{

    <!--begin::Page Custom Styles(used by this page)-->
    <link href="@Url.Content("~/assets/css/pages/wizard/wizard-3.css")" rel="stylesheet" type="text/css" />

    <!--begin::Page Scripts(used by this page)-->
    <script src="@Url.Content("~/assets/js/pages/custom/wizard/wizard-3.js")"></script>
    <!--end::Page Scripts-->   

    <script src="@Url.Content("~/js/dropzoneThumbnail.js")"></script>

    <script src="@Url.Content("~/js/pages/submitwork.js")"></script>

    <script>
        const _DropzoneUrl = '@Url.Action("UploadFIle", "Base")'
        const _DropzonePreviewUrl = '@Url.Action("UploadPreview", "Base")'

        initDropzone('kt_dropzone_multi_1', { type : null });
    </script>

    

}